<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    background-color:#81BEF7 ;
}
td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

</style>
<div><h1>Celular</h1></div>

<table border="1">
<thead>
    <tr>
    <th>N° de Serie</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>S.O.</th>
    <th colspan="3">Acciones</th>
    </tr>
</thead>
<tbody>
    {% for celular in object_list %}
    <tr>
    <td>{{ celular.serie }}</td>
    <td>{{ celular.marca }}</td>
    <td>{{ celular.modelo }}</td>
    <td>{{ celular.so }}</td>
    <td><a href="{% url "celular_view" celular.id %}">Detalles</a></td>
    <td><a href="{% url "celular_edit" celular.id %}">Editar</a></td>
    <td><a href="{% url "celular_delete" celular.id %}">Borrar</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
<p></p>
<a href="{% url "celular_new" %}">Agregar</a>
